body{
margin:0;
font-family:Arial, sans-serif;
background:#0f172a;
color:white;
display:flex;
justify-content:center;
}

.container{
width:95%;
max-width:500px;
margin-top:20px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,0.5);
}

h2{
margin-top:0;
}

.option{
background:#334155;
padding:12px;
margin:8px 0;
border-radius:10px;
cursor:pointer;
}

.option:hover{
background:#475569;
}

.selected{
background:#2563eb !important;
}

button{
width:100%;
padding:12px;
margin-top:15px;
border:none;
border-radius:10px;
background:#22c55e;
color:white;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#16a34a;
}

.result{
text-align:center;
}

.review{
margin-top:15px;
background:#111827;
padding:10px;
border-radius:10px;
}
.correct{color:#22c55e;}
.wrong{color:#ef4444;}
